MR-Demo/input
MR-Demo-RSJoin/input
MR-Demo-RSJoin/target
MR-Demo-RSJoin/10 m4.large/log/j-1KFLLGY8SMVBI
MR-Demo-RSJoin/5 m4.large/log/j-P3K4VAF2CWJL
MR-Demo-RSJoin/11 m4.large/log/j-1KFLLGY8SMVBI
MR-Demo-RSJoin/6 m4.large/log/j-P3K4VAF2CWJL
MR-Demo-RepJoin/11 m4.large/log
MR-Demo-RepJoin/6 m4.large/log/j-1TQR6SG11GQ8G
MR-Demo-RepJoin/input
MR-Demo-RepJoin/target
